.title {
  display: flex;
  justify-content: center;
}

.bcg {
  background-color: grey;
}

.review {
  list-style: none;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 10px;
  width: 95%;
}
